.rocky{
    height: 300px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgb(32, 5, 5);
}
.rocky:hover{
    box-shadow: 0px 8px 16px rgb(32, 5, 5);
    transition: 1s;

}
.person{
    padding: 0 2px 0 2px;
}
img{
    border-radius: 5px 5px 0 0;
    
    width: 100%;
    
}